@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


/* Import Tailwind's base styles */
@tailwind base;

/* Import Tailwind's component styles */
@tailwind components;

/* Import Tailwind's utility styles */
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background:#bbd4ed;
  color: #2f2f2f;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;

}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 0.8em;
  text-transform: uppercase;
  font-weight: small;
  color: black;
}

.btn-primary {
  color: #fff;
  background: #16a083;
  font-size: 1.4rem;
}

.button:hover {
  background: #687371;
  transition: background 0.3s ease-in-out;
}


.button-add:hover {
  background-color: #fff183;
  color: #232543;
  transition: background 0.3s ease-in-out;
}


.button-update:hover {
  background-color: #22224f;
  transition: background 0.3s ease-in-out;
}

.button-delete:hover {
  background-color: #760101;
  transition: background 0.3s ease-in-out;
}
/* ............/navbar/............ */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

/* span {
  text-align: center;
  font-weight: bold;
  text-align: center;
  font-size: 45 px
} */
.logo {
    width: 215px;
    height: 200px;
    margin-top: 0.5%;
    position: absolute;
    left: 50px;
  
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.navbar {
  box-shadow: 0px 5px 14px 0px #ebebeb;
  position: fixed;
  width: 100%;
  background: #15151e;
  color: #eff4b9;
  height: 65px;
  z-index: 12;
  margin: 0px 0 0 -12px;
  color: white;
}


#navbarNav a {
  text-decoration: none;
  color: #efefef;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

#navbarNav a:hover {
  color: #fffc4d;
  transition: color 0.3s ease-in-out;
}


h2 {
  margin: 23px 0 0 165px;
  font-size: 1.5rem;
  color: #feffd7;
  text-align: center;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0 0 0;
  }

  /* .criteria {
    display: flex;
    justify-content: space-between;
  }
  
  .criteria span {
    flex: 1;
  }
  
  .criteria span:first-child {
    margin-right: 120px;
  } */


body {
  background-color:lightblue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%238a96ff' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  font-family: monospace;
}

.header {
  margin-left: -15px;
  margin-right: -10px;
  height: 70px;
  background: #2e315f;
  color: rgb(250, 246, 168);
  font-size: 20px;
  min-height: 5vh;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 18%;
}



 .add_quiz {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  text-align: left;
  height: 170px;
  width: 300px;
  margin: auto;
  border-width:0;
} 
#id01{
  
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   height: 300px;
   background-color: white;
   border: 1px solid black;
   box-shadow: 10px 10px 5px #888888;
  
}

h3 {
  margin-top: 22px;
  text-align: center;
  font-size: 30px;
}

h4 {
  text-align: center;
  padding: 160px 0 0 0;
}


.labels {
  display: flex;
  gap: 20px;
}

p {
  font-family: verdana;
  font-size: 20px;
}


button {
  float: left;
  background-color: green;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  
}

.button-add {
  margin: 90px 0 0 0;
}

.button-update {
  background-color:rgb(68, 139, 255);
  display: inline-block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.button-delete {
  background-color:rgb(195, 0, 0);
  display: inline-block;
  padding: 0.5em 0.5em;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: black;
  
}

#button-delete {
  background-color:rgb(195, 0, 0);
  display: inline-block;
  padding: 0.5em 0.7em;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.5s ease-out;
}


.btn-add {
  margin: 20px;
}
/* Card and container css where I'm having issues */

#flashcards {
  display: grid;

grid-template-columns: repeat(3, 1fr);

grid-auto-rows: auto;

grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}
/*
input[type="text"]
{
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  line-height: 3;

}
*/

input[type='text'] {
  line-height: 3;
  border-radius: 5%;
  display: inline-block;
  
}


.quiz-block {
  width: 90%;
  height: 65px;
  border-radius: 5%;

  padding: 0.25em 0.5em;
  outline: none;
  border: none;
}

/*
.quizcont {
  color: gray;
  overflow: visible;
  white-space: normal;
}
/*

.quiz-block {


  width: 90%;
  height: 58%;
  background-color: rgb(242, 147, 147);

  padding: 0.5em 0.5em;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 34px;
  background: #141414;
  color: white;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: white; 
}

/* flip card test */
 /* .flip-card {
  
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
 
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY( 180deg );

}
.flip-card.is-flipped {
  transform: rotateY(180deg);
} */
 
.card {
  margin: 0.5em; 
  background-color: white;
}

.cards{
  margin: 0.5em;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


#delete{
  background-color: red;
  
 width: 60px;
 height: 40px;
 font-size: small;

text-align: center;
}

footer {
  background: #141414;
  }
  
footer p {
    text-align: center;
    justify-content: center;
    font-size: 0.9rem;
    color: #fff;
    /* line-height: 23%; */
  }

  footer a {
    color: #fff;
}

footer a:hover, footer a:active, footer a:visited{
    color: #5bb623;
}